<%- layout('layout.ejs') -%>




<section class="content-header">
        <h1>
          New office
          <small>Add new office</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/events"><i class="fa fa-dashboard"></i>Event</a></li>
          <li class="active">New</li>
        </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
        <div class="box">

<!-- /.box-header -->
<!-- form start -->
            <div class="box-body">
                <div class="form-group col-lg-12">
                    <label>Description</label>
                    <input id="description" type="text" class="form-control" placeholder="Enter description here..." required></input>
                </div>
                <div class="form-group col-lg-8">
                        <label>Poderation</label>
                        <input id="ponderation" type="text" class="form-control" placeholder="Enter ponderation here..." required></input>
                        <hr>
                </div>
                <div class="form-group col-lg-4">
                        <label>Timezone</label>
                        <input type="number" class="form-control" id="timezone" placeholder="Enter timezone here..."></input>
                        <hr>
                </div>
                
                <div class="form-group col-lg-2">

                    <label>Monday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="number" class="form-control" id="monday_hourFrom" placeholder="8" required>
                            <div class="input-group-addon">to</div>
                            <input type="number" class="form-control" id="monday_hourTo" placeholder="18" required>
                        </div>
                </div>
                <div class="form-group col-lg-2">
                    <label>Tuesday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="number" class="form-control" id="tuesday_hourFrom" placeholder="8" required>
                            <div class="input-group-addon">to</div>
                            <input type="numer" class="form-control" id="tuesday_hourTo" placeholder="18" required>
                        </div>
                </div>
                <div class="form-group col-lg-2">
                    <label>Wednesday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="number" class="form-control" id="wednesday_hourFrom" placeholder="8" required>
                            <div class="input-group-addon">to</div>
                            <input type="number" class="form-control" id="wednesday_hourTo" placeholder="18" required>
                        </div>
                </div>
                <div class="form-group col-lg-2">
                    <label>Thursday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="text" class="form-control" id="thursday_hourFrom" placeholder="8" required>
                            <div class="input-group-addon">to</div>
                            <input type="text" class="form-control" id="thursday_hourTo" placeholder="18" required>
                        </div>
                </div>
                <div class="form-group col-lg-2">
                    <label>Friday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="text" class="form-control" id="friday_hourFrom" placeholder="8" required>
                            <div class="input-group-addon">to</div>
                            <input type="text" class="form-control" id="friday_hourTo" placeholder="18" required>
                        </div>
                </div>
                <div class="form-group col-lg-5">
                    <label>Saturday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="text" class="form-control" id="saturday_hourFrom" placeholder="8">
                            <div class="input-group-addon">to</div>
                            <input type="text" class="form-control" id="saturday_hourTo" placeholder="18">
                        </div>
                </div>
                <div class="form-group col-lg-5">
                    <label>Sunday Hour</label>
                    <div class="input-group input-daterange col-lg-12">
                            <input type="text" class="form-control" id="sunday_hourFrom" placeholder="8">
                            <div class="input-group-addon">to</div>
                            <input type="text" class="form-control" id="sunday_hourTo" placeholder="18">
                        </div>
                </div>
            <!-- /.box-body -->

            <div class="box-footer col-lg-12">
                <button id='btn' type="submit"  class="btn btn-primary">Create</button>
                <a class="btn btn-danger" href="/office" role="button">Close</a>

            </div>
        </div>
        </div>
    </div>
</section>

<script src="/bower_components/jquery/style/jquery.min.js"></script>

<script src="/officeJson.js"></script>
