<%- layout('../layout.ejs') -%>

<section class="content-header">
        <h1>
          New Post Mortem
          <small>Add new Post Mortem</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/admin/event"><i class="fa fa-dashboard"></i>Event</a></li>
          <li class="active">New</li>
        </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
        <div class="box">

<!-- /.box-header -->
<!-- form start -->
        <form role="form" method="post">
            <div class="box-body">
                <div class="form-group col-lg-2">
                    <label>ID</label>
                    <input type="text" class="form-control" id="id" disabled></input>
                </div>
                <div class="form-group col-lg-10">
                    <label>Issue</label>
                    <input type="text" class="form-control" id="metric" disabled></input>
                </div>
                <div class="form-group col-lg-6">
                  <label>Start Date</label>
                  <input type="text" class="form-control" id="startDate" disabled></input>
                </div>
                <div class="form-group col-lg-6">
                    <label>End Date</label>
                    <input type="text" class="form-control" id="endDate" disabled></input>
                </div>

                <div class="form-group col-lg-12">
                    <label>Description</label>
                    <textarea rows="8" cols="50" name="description" id="description" class="form-control" required="required" placeholder="Enter description here..."></textarea>
                </div>
                <div class="form-group col-lg-12">
                    <label>Status</label>                   
                    <select name="Status" id="status" class="form-control">
                        <option selected="selected" value="resolved">Resolved</option>
                        <option value="partial_resolved">Partial Resolved</option>
                        <option value="not_solved">Not Solved</option>
                    </select>

                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" id="create" class="btn btn-primary">Create</button>
                <a class="btn btn-danger" href="/events" role="button">Close</a>

            </div>
        </form>
        </div>
        </div>
    </div>
</section>
<script src="../../bower_components/jquery/style/jquery.min.js"></script>
<script>
    var id = '<%= id["id"] %>';
    var url = `http://internal-systems.ml.com/uptime-test/downtimes/${id}`
    $.get(url, (data, status) => {
      if (status == 'success') {
        document.getElementById("id").value = data.id;
        document.getElementById("metric").value = data.metric;
        document.getElementById("startDate").value = new Date(data.startDateTime).toLocaleString();
        document.getElementById("endDate").value = new Date(data.endDateTime).toLocaleString();
        if(data.postMortem){
            document.getElementById("description").value = data.comments;
            document.getElementById("status").value = data.postMortemStatus;
            $('#create').prop('disabled', true);
            $('#description').prop('disabled', true);
        }
      }
    })
    </script>