<%- layout('../layout.ejs') -%>




<section class="content-header">
        <h1>
          New Post Mortem
          <small>Add new Post Mortem</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/events"><i class="fa fa-dashboard"></i>Event</a></li>
          <li class="active">New</li>
        </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
        <div class="box">

<!-- /.box-header -->
<!-- form start -->
            <form role="form" method="post">
            <div class="box-body">
                <div class="form-group col-lg-2">
                    <label>ID</label>
                    <input type="text" class="form-control" value="1" disabled></input>
                </div>
                <div class="form-group col-lg-10">
                    <label>Issue</label>
                    <input type="text" class="form-control" value="Enlace Megatelecom Down - BRSP" disabled></input>
                </div>
                <div class="form-group col-lg-6">
                    <label>Start Date</label>
                    <input type="text" class="form-control" value="10/01/2019 09:15" disabled></input>
                </div>
                <div class="form-group col-lg-6">
                  <label>End Date</label>
                  <input type="text" class="form-control" value="10/01/2019 10:00" disabled></input>
              </div>

                <div class="form-group col-lg-12">
                    <label>Description</label>
                    <textarea rows="8" cols="50" disabled name="description" class="form-control" required="required" placeholder="Enter description here...">Enlace down</textarea>
                </div>
                <div class="form-group col-lg-12">
                        <label>Status</label>                   
                        <select name="Status" class="form-control" disabled>
                        <option selected="selected" value="resolved">Resolved</option>
                        <option value="partial_resolved">Partial Resolved</option>
                        <option value="not_solved">Not Solved</option>
                        </select>

                    </div>
                </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" disabled class="btn btn-primary">Create</button>
                <a class="btn btn-danger" href="/events" role="button">Close</a>

            </div>
            </form>
        </div>
        </div>
    </div>
</section>